.page {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
        "dash nav"
        "dash content";
}

.dash {
    background-color: lightcoral;
    grid-area: dash;
}

.nav {
    background-color:aquamarine;
    grid-area: nav;
}

.content {
    background-color: bisque;
    grid-area: content;
}

.icon-text {
    display: grid;
    grid-template-columns: 1.5em auto;
    gap: 1em;
}

a {
    text-decoration: none;
}

.dash-options > a > .icon-text {
    padding-left: 1em;
}