:root {
    --blue: rgb(24,146,211);
    --white: rgb(255,255,255);
    --yellow: rgb(236,182,39);
    --gray: rgb(225,232,240);
    --shadow-gray: rgb(205,211,219);
    --text-gray: rgb(100,100,100);
    --black: rgb(16,16,16);
    font-family: 'Roboto', sans-serif;;
}

body, html {
    margin: 0%;
    padding: 0%;
}

.page {
    display: grid;
    height: 100vh;
    color: var(--black);
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "dash nav"
        "dash content";
}

.dash {
    grid-area: dash;
    background-color: var(--blue);
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 2%;
}

.page > .dash > .dash-header.icon-text {
    grid-template-columns: 1fr 4fr;
    display: grid;
    align-items: center;
    line-height: 0%;
    padding: 5% 5% 2% 5%;
}

.dash-header > img {
    width: max(25px, 100%)
}

.dash-options {
    display: grid;
    gap: max(4px, 2vh);
}

.dash-options > a {
    color: var(--white);
}

.dash-options > a > .icon-text {
    padding-left: max(4px, 2vw);
    padding-right: max(4px, 2vw);
    grid-template-columns: 15px auto;
    align-items: center;
}

.dash-options > a > .icon-text > div {
    font-size: 20px;
}

.nav {
    grid-area: nav;
    background-color: var(--white);
    padding: 10px 10px 10px max(4px, 2vw);
    display: grid;
    grid-template-rows: 2fr 3fr;
    position: relative;
    box-shadow: 1px 3px 5px var(--shadow-gray);
}

.nav-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    width: clamp(55%, 500px, 100%);

}

.nav-top-right {
    display: grid;
    grid-template-columns: 1fr 8fr;
    gap: max(10px, 1.5vw);
    align-items: center;
    width: max(300px, 30%);
}

.user-options {
    display: grid;
    align-items: center;
    gap: max(8px, 1.5vw);
    width: 100%;
}

.user-options > button > .icon-text {
    grid-template-columns: 1fr 150px;
}

.user-options > button > .icon-text > h2 {
    text-align: left;
    color: var(--black);
    margin: 0px;
}

.user-options > a > .icon-text > div:last-child {
    width: max(100px, 80%);
}

.nav-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.greeting.icon-text {
    grid-template-columns: 60px auto;
}

.greeting.icon-text > .text > p {
    font-size: small;
}

.content-options {
    display: flex;
    justify-content: center;
    width: max(300px, 40%);
    gap: 1.5vw;
    margin: 10px;
    flex-wrap: nowrap;
}

.content-options > button {
    background-color: var(--blue);
    width: 80px;
    max-width: 100px;
    height: 30px;
    border-radius: 15px;
    flex: 1;
}

.content {
    grid-area: content;
    background-color: var(--gray);
    padding: 8px max(4px, 2vw) max(4px, 2vw) max(4px, 2vw);
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 1vmax;
    grid-template-areas: 
        "projects content-right"
}

h2 {
    font-size: 18px;
}

.projects {
    grid-area: projects;
}

.project-squares {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1vmax;
    justify-content: stretch;
}

.project-square,
.box {
    background-color: var(--white);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 3px 5px var(--shadow-gray);
}

.project-square {
    border-left: 5px solid var(--yellow);
    height: 25vh;
    display: flex;
    flex-direction: column;
}

.project-square > h3,
.project-square > p {
    margin: 2px;
    padding: 0px;
}

.project-square > p,
.announcement-text,
.trending-user > .icon-text > .text > p {
    color: var(--text-gray);
}

.project-options {
    align-self: flex-end;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.content-right {
    grid-area: content-right;
    height: 100%;
}

.announcement > * {
    margin: 0px;
}

.announcement > p {
    padding-bottom: 8px;
}

.announcement.not-last::after {
  content: "";
  display: inline-block;
  height: 0.5em;
  vertical-align: center;
  width: 100%;
  border-top: 1px solid var(--shadow-gray);
}

.trending {
    padding-top: 10px;
}

.trending.box {
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 1em;
}

.icon-text {
    display: grid;
    grid-template-columns: 1.5em auto;
    align-items: center;
    gap: 1em;
}

a {
    text-decoration: none;
    color: var(--black);
}

button {
    font-family: 'Roboto', sans-serif;
    background-color: var(--white);
    border: none;
    color: white;
    width: 2.5em;
    cursor: pointer;
    flex-shrink: 1;
}

h1 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
}

.text > * {
    margin: 4px;
    padding: 0px;
}

.user-icon {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    align-self: center;
}

.user-icon.large {
    height: 60px;
    width: 60px;
    border-radius: 60px;
}